:root {
    --radius: 10px;


}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: large;
}

body {
    background-color: lightslategray;
}

#Block {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 700px;
    height: 700px;
    border: 3px solid blue;
    border-radius: 25px; 
}

#Start {
    position: relative;
    left: 41%;
}

h1 {
    text-align: center;
    margin: 3%; 
}

p {
    text-align: center;
}

button {
    border-radius: var(--radius);
    font-size: 39px;
    background-color: blue;
}

#Timer {
    margin: 3%;
    text-align: end;
}

#text {
    font-size: x-large;
    margin-bottom: 15%;
}

#answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.answeroptions {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

.hide {
    display: none;
}

.shown {
    display: block;
}