:root {
    --radius: 10px;


}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
}

body {
    background-color: lightslategray;


}

#Block {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 700px;
    height: 700px;
    border: 3px solid blue;
    border-radius: 25px;
    
    
}

#Start {
    position: relative;
    left: 41%;

}

h1 {
    text-align: center;
    margin: 3%;
    
}

p {
    text-align: center;

}

button {
    border-radius: var(--radius);
    font-size: 40px;
    background-color: blue;


}